bot:
  token: PUT_DISCORD_BOT_TOKEN_HERE
  request_movie: PUT_NAME_OF_REQUEST_MOVIE_APP_CONFIG_HERE
  request_series: PUT_NAME_OF_REQUEST_SERIES_APP_CONFIG_HERE

sonarr:
  api_key: PUT_SONARR_API_KEY_HERE
  url: http://X.X.X.X:8989/api/v3

radarr:
  api_key: PUT_RADARR_API_KEY_HERE
  url: https://X.X.X.X:7878/api/v3
